
$primary:#2e90fa;
$secondary:#84CAFF;
$success:#ffae26;
$warning:#fec84b;
$danger:#EF6820;
$red: #ff6000;
$green:#16B364;
$white:#ffffff;
$grey-100:#D0D5DD;
$grey-200:#98A2B3;
$grey-300:#667085;
$grey-400:#595959;
$dark:#191919;
$black:#000000;
$border-clr: #ced4da;


