
/*new 2*/
.callback-popup .modal-body .title {
    margin-bottom: 20px;
}

.callback-popup .modal-body .title p {
    font-size: 26px;
    text-transform: uppercase;
}

.callback-popup .modal-body strong {
    font-weight: 600;
}

.callback-popup .modal-body .first-section {
    margin-bottom: 20px;
}

.callback-popup .modal-body p {
    margin-bottom: 2px;
}

.callback-popup .modal-body .title .c-blue {
    color: #137cc0;
}

.callback-popup .modal-body .seconds-section {
    margin-bottom: 25px;
}

.callback-popup .modal-body .button-section input {
    height: 50px;
    text-align: center;
    padding: 3px 5px;
    color: #333;
    border: 1px solid #137cc0;
    width: 270px;
    max-width: 100%;
    margin-top: 5px;
}

.callback-popup .modal-body .button-section button {
    background-color: #137cc0;
    color: #fff;
    border: 1px solid #137cc0;
    padding: 10px 15px;
    height: 50px;
    margin-top: 15px;
}

.callback-popup .modal-body {
    font-size: 20px;
    line-height: 28.6px;
}

.callback-popup .modal-body a {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.hot-line-wrap a {
    color: #d32816;
}

.hot-line-wrap {
    position: fixed;
    top: auto;
    right: 30px;
    bottom: 20px;
    background-color: #fff;
    border: 1px solid #d32816;
    color: #d32816;
    padding: 5px 10px;
    padding-left: 45px;
    -webkit-border-radius: 0 20px 0 20px;
    -moz-border-radius: 0 20px 0 20px;
    border-radius: 0 20px 0 20px;
    z-index: 888;
}

.hot-line-wrap p {
    margin-bottom: 0;
}

.hot-line-wrap p strong {
    font-size: 25px;
    font-weight: bold;
    line-height: 32px;
}

.hot-line-wrap p span {
    width: 50px;
    height: 50px;
    line-height: 46px;
    border: 2px solid #d32816;
    text-align: center;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -15px;
    color: #fff;
    background: url(../images/phone-icon.png) no-repeat center center;
    background-size: 80% 80%;
    background-color: #d32816;
}

@media only screen and (max-width: 450px) {
    .callback-popup .modal-body {
        font-size: 16px;
    }
}