/*
=================================================
popup call now
=================================================
*/

.callback-popup .modal-header .close {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: -15px;
  right: -15px;
  opacity: 1;
  line-height: 15px;
  outline: none;
  box-shadow: none;
}

.callback-popup .modal-header .close img {
  width: 20px;
}

.callback-popup .modal-content {
  background-color: #252525;
  color: #fff;
  border-radius: 0;
}

.callback-popup .modal-body {
  position: relative;
  padding: 30px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 50px;
}

.callback-popup .modal-header {
  border-bottom: none;
}

.callback-popup h3 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 300;
  line-height: 1.8;
}

@media all and (max-width: 480px) {
  .callback-popup .modal-body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (max-width: 768px) {
  .callback-popup .modal-header .close {
    top: 2px;
    right: 1px;
    border-radius: 0;
  }
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}


/* Phone Ring */
.laziweb-alo-phone {
  position: fixed;
  left: 0;
  bottom: 0;
  visibility: visible;
  background-color: transparent;
  width: 130px;
  height: 130px;
  cursor: pointer;
  z-index: 999 !important;
}

.laziweb-alo-ph-circle {
  width: 124px;
  height: 124px;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: .1;
  border-color: #137cc0;
  opacity: .5;
}

.laziweb-alo-ph-circle-fill {
  width: 80px;
  height: 80px;
  top: 22px;
  left: 22px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-color: rgba(19, 124, 192, 0.5);
  opacity: .75 !important;
}

.laziweb-alo-ph-img-circle {
  width: 40px;
  height: 40px;
  top: 43px;
  left: 43px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url("../images/phone-icon.png") no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background-color: #137cc0;
  background-size: cover;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* CTA responsive mobile */
@media (max-width: 767px) {
  .laziweb-alo-phone {
    width: 100px;
    height: 100px;
  }
  .laziweb-alo-ph-circle {
    width: 100px;
    height: 100px;
  }
  .laziweb-alo-ph-circle-fill {
    top: 10px;
    left: 10px;
  }
  .laziweb-alo-ph-img-circle {
    top: 30px;
    left: 30px;
  }
}

/*new 2*/
.callback-popup .modal-body .title {
  margin-bottom: 20px;
}

.callback-popup .modal-body .title p {
  font-size: 25px;
}

.callback-popup .modal-body strong {
  font-weight: 600;
}

.callback-popup .modal-body .first-section {
  margin-bottom: 20px;
}

.callback-popup .modal-body p {
  font-weight: 300;
  margin-bottom: 2px;
}

.callback-popup .modal-body .title .c-blue {
  color: #137cc0;
}

.callback-popup .modal-body .seconds-section {
  margin-bottom: 25px;
}

.callback-popup .modal-body .button-section input {
  height: 50px;
  text-align: center;
  padding: 3px 5px;
  color: #333;
  border: 1px solid #137cc0;
  width: 270px;
  max-width: 100%;
  margin-top: 5px;
}

.callback-popup .modal-body .button-section button {
  background-color: #137cc0;
  color: #fff;
  border: 1px solid #137cc0;
  padding: 10px 15px;
  height: 50px;
  margin-top: 15px;
}

.callback-popup .modal-body {
  font-size: 20px;
  line-height: 28.6px;
}

.callback-popup .modal-body a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.hot-line-wrap a {
  color: #d32816;
}

.hot-line-wrap {
  position: fixed;
  top: auto;
  right: 30px;
  bottom: 20px;
  background-color: #fff;
  border: 1px solid #d32816;
  color: #d32816;
  padding: 5px 10px;
  padding-left: 45px;
  -webkit-border-radius: 0 20px 0 20px;
  -moz-border-radius: 0 20px 0 20px;
  border-radius: 0 20px 0 20px;
  z-index: 888;
}

.hot-line-wrap p {
  margin-bottom: 0;
}

.hot-line-wrap p strong {
  font-size: 25px;
  font-weight: bold;
  line-height: 32px;
}

.hot-line-wrap p span {
  width: 50px;
  height: 50px;
  line-height: 46px;
  border: 2px solid #d32816;
  text-align: center;
  font-size: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -15px;
  color: #fff;
  background: url(../images/phone-icon.png) no-repeat center center;
  background-size: 80% 80%;
  background-color: #d32816;
}

@media only screen and (max-width: 450px) {
  .callback-popup .modal-body {
    font-size: 16px;
  }
}
