.box-img-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.box-img-flex.y-img-left {
	justify-content: flex-start;
}
.box-img-flex img {
	width: auto !important;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}



/* Product detail */
.prod-detail-property {
	margin-bottom: 15px;
}
.prod-detail-property .text-property {
	margin-bottom: 7px;
}
.prod-detail-property .color-detail li a {
    position: relative;
    display: block;
    padding: 0px 12px 0 0;
    text-decoration: none;
    color: #000;
    border: 1px solid #e6e6e6;
    margin-bottom: 8px;
}
.prod-detail-property .color-detail li a .icon-product {
    width: 30px;
    height: 30px;
}
.prod-detail-property .color-detail li a .img-check {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    display: none;
}
.prod-detail-property .color-detail li a.active .img-check {
    display: block;
}
.prod-detail-property ul li a.active {
    border: 1px solid #d13c2c;
}

.prod-detail-property .list-size li a {
    padding: 5px 13px;
}