@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}
.wrapper {
	width: 600px;
	min-height: 700px;
	margin: 10px auto;
    max-width: 100%;
}
img {
	width: 100%;
	height: 100%;
}
#menuGame {
	display: block;
	margin: auto;
    width: 100%;

}
#canvas {
    width: 100%;
	cursor: all-scroll;
}