@charset "utf-8";
/* CSS Document */

body {
	font-family: Georgia, 'Times New Roman', arial, serif;
	font-size: 15px; 
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 500px;
	min-height: 700px;
	margin: 0 auto;
	border: 1px solid #0033ff;
}
/* Player-profile */
.title {
	font-size: 17px;
	font-weight: bold;
}
.title-center {
	text-align: center;
}
.profile .title {
	line-height: 25px;
	background: url('../img/title_bg.gif');
}
.profile-content {
	height: 100px;
}
.profile-content:after {
	clear: both;
	content: "";
	width: 0;
	height: 0;
}
.avatar {
	float: left;
	width: 100px;
	height: 90px;
	margin-right: 5px;
}
.info {
	float: left;
	width: 395px;
	height: 95px;
	overflow: scroll;
}
/* Facts */
.facts {
	width: 100%;
	margin-bottom: 50px;
}
.facts .title {
	line-height: 25px;
	padding: 5px;
}
.facts-list {
	list-style: none;
	margin: 0 10px;
}
.facts ul li:before {
  content: url('../img/star.gif');
  margin-right: 12px;
}
/* Comment */
.post {
    margin-top: 40px;
    padding: 0 4px;
    font-size: 15px;
}
.post-info {
  margin-left: 65px;
  padding: 1px 0;
  font-size: 13px;
}
.post-contain {
	position: relative;
	background: #ECECEC;
	padding: 4px 6px;
}
.post-contain:after {
  position: absolute;
  content: url('../img/comment_bg.gif');
  top: 85%;
  left: 3%;
}

/* Your Comment */
.comment {
  padding: 20px 6px;
  font-size: 14px;
}

.comment table input[type="text"] {
    width: 132px;
    height: 16px;
}
