@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Georgia, 'Times New Roman', arial, serif;
	font-size: 15px; 
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 496px;
	min-height: 600px;
	margin: 0 auto;
	border: 1px solid #0033ff;
}
.title {
	font-size: 17px;
	font-weight: bold;
}
.title-center {
	text-align: center;
}

/* Player-profile */
.profile .title {
	line-height: 25px;
	background: url('../img/title_bg.gif');
}
.profile-content {
	height: 100px;
}
.profile-content:after {
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
	display: block;
}
.avatar {
	float: left;
	width: 100px;
	height: 90px;
	margin: 2px 2px 0 8px;
}
.info {
	float: left;
	width: 383px;
	height: 95px;
	margin-top: 3px;
	overflow: scroll;
}

/* Facts */
.facts {
	width: 100%;
	margin-bottom: 50px;
}
.facts .title {
	line-height: 25px;
	padding: 5px;
}
.facts-list {
	list-style: none;
	margin-left: 47px;
}
.facts-list li:before {
	content: url('../img/star.gif');
	margin-right: 12px;
}
/* Comment */
.post {
    margin-top: 40px;
    padding: 0 4px;
    font-size: 15px;
}
.post-info {
	margin-left: 65px;
	padding: 1px 0;
	font-size: 13px;
}
.post-info a {
	text-decoration: none;
}

.post-contain {
	position: relative;
	background: #ECECEC;
	padding: 4px 6px;
}
.post-contain:after {
	position: absolute;
	content: url('../img/comment_bg.gif');
	top: 87%;
	left: 4.3%;
	z-index: -1;
}

/* Your Comment */
.comment {
	padding: 20px 6px 5px;
	font-size: 14px;
}
.comment table input[type="text"] {
    width: 139px;
    height: 20px;
}
.comment table textarea {
	max-width: 370px;
    height: 85px;
}
.table-comment td {
	max-width: 103px;
}

