.t-breadcrumb {
    padding: 10px 0;
    list-style: none;
    background-color: #eee;
    margin-bottom: 30px;
}

.t-breadcrumb ul {
    margin-bottom: 0;
}

.t-breadcrumb li {
    display: inline;
}

.t-breadcrumb li.active a {
    color: red;
}

.t-breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.t-breadcrumb li a {
    color: #000;
    text-decoration: none;
}

.t-breadcrumb li a:hover {
    color: #00b140;
}
