@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
	font-family: Arial, sans-serif;
	color: #63636e;
	font-size: 11px;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 1200px;
	min-height: 800px;
	margin: 0 auto;
	background-color: #121212;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
/* Header */
.header {
	position: relative;
	background: url(../images/fill_header.jpg);
	height: 349px;
	margin-bottom: 20px;
}
.site-title h2 {
	color: black;
	font-size: 40px;
	margin-top: 37px;
	margin-left: 100px;
}
.site-title span {
	color: #595959;
	font-size: 40px;
	margin-top: 37px;
}
.site-title {
	background: url(../images/logo.jpg) no-repeat;
	width: 353px;
	height: 116px;
	position: absolute;
	top: 53px;
	left: 50px;
}
.menu {
	position: absolute;
	left: 66px;
	bottom: 52px;
	list-style: none;
}
.menu:after, .main:after, .left:after {
	clear: both;
	display: block;
	height: 0;
	content: "";
	visibility: hidden;
}
.menu li {
	float: left;
	margin: 0 3px;
}
.menu li a {
	display: block;
	text-align: center;
	text-decoration: none;
	
}
.menu li a span {
	display: block;
	text-align: center;
	font-size: 14px;
	color: white;
}
/* Main*/
.main {
	width: 700px;
	min-height: 675px;
	margin-left: 73px;
}
.left {
	float: left;
	width: 200px;
	height: 393px;
	padding: 0 22px;
	background-color: #1f1f1f;
	border: 1px solid #101010;
}
.right {
	float: left;
	width: 400px;
	min-height: 400px;
	margin: 48px 0 38px 38px;
}
/* Main-left*/
.box-1 {
	margin-top: 45px;
	border-top: 1px solid #727272;
}
.box-1 p {
	margin: 25px 0 60px 10px;
	font-size: 12.8px;
	line-height: 1.8;
}
.box-2 {
	font-size: 12px;
	padding: 30px 10px;
	border-top: 1px solid #323232;
	list-style: none;
}
.box-2 li {
	display: block;
	position: relative;
	line-height: 2.1;
	margin-left: 20px;
}
.box-2 li a {
	color: #707070;
}
.box-2 li:before {
	position: absolute;
	top: -2px;
	left: -10px;
	content: url('../images/arr.gif');
}
/* Main-right*/
.thumb {
	width: 400px;
	margin-bottom: 10px;
}
.thumb img {
	max-width: 394px;
}
.block {
	margin-bottom: 40px;
}
.content {
	margin: 0 15px;
}
.content input[type="text"] {
	width: 115px;
	height: 23px;
	margin: 15px 0;
	background: #2c2c2c;
	border: none;
}
.content p {
	padding-bottom: 20px;
    border-bottom: 1px dotted #323232;
}
.launch {
	display: block;
	text-decoration: none;
    color: white;
	margin-top: 17px;
}
.launch:before {
	content: url('../images/arr_1.gif');
	padding: 5px;
}
/* Footer */
.footer {
	width: 662px;
	padding: 26px 0 64px;
	margin-left: 73px ;
	border-top: 1px dotted #323232;
}
.footer a {
	color: #505959;
}
.footer p {
	margin-left: 6px;
	font-size: 10px;
}