@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: black;
}
img {
	max-width: 100%;
	max-height: 100%;
}
.wrapper {
	width: 1000px;
	min-height: 600px;
	margin: 0 auto;
	padding: 20px 0;
	background-color: #292728;
}
.container {
	width: 960px;
	min-height: 500px;
	line-height: 1.3;
}
.box:after, .container:after, .box-2:after, .title-news:after, .block-news:after, .local-list:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
.left {
	float: left;
	width: 653px;
	margin-left: 2px;
	min-height: 100px;
}
.right {
	float: right;
	width: 265px;
	min-height: 100px;
	padding: 5px 13px;
}
.link-blue {
	color: #147fb7;
	text-decoration: none;
}

/* Left */
.title {
	height: 25px;
	color: white;
	line-height: 1.7;
	font-size: 13.5px;
	padding: 3px 0 0 12px;
	background: url('../images/h2-confidential-heading-bg.gif') repeat-x 100% 100%;
}
.news {
	float: left;
	width: 325px;
    min-height: 100px;
}
.box {
	width: 100%;
    min-height: 100px;
	padding-bottom: 20px;
	background: #fafafa;
}
.box .news:first-child {
	border-right: 1px dotted black;
}
.box-news {
	margin-top: 3px;
	padding: 0 10px;
}
.more {
	position: relative;
}
.icon-more {
	display: block;
	position: absolute;
	top: 0;
	right: 20px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.title-2 {
	line-height: 1.6;
}
.banner {
	height: 26px;
	padding-left: 10px;
	margin-bottom: 10px;
	background: #fafafa;
}
.news-movie {
	float: left;
}
.title-movie {
	letter-spacing: 0.8px;
	background: url('../images/h2-top-movie-trailers-bg.gif') repeat-x 100% 100%;
}
.box-2{
	width: 100%;
	min-height: 100px;
	margin-bottom: 30px;
}
.box-2 .news-movie {
	width: 315px;
	min-height: 100px;
	background: #ffffff;
}
.box-2 .news-movie:first-child {
	margin: 0 20px 0 3px;
}

/* Top 3 Movie Traillers */
.btn {
	width: 100%;
	border: none;
	line-height: 1.8;
	padding-left: 9px;
	cursor: pointer;
}
.box-news-1, .box-news-2 {
	border-bottom: 1px solid #8e8e8e;
}
.box-news-1 .block-news {
	margin-top: 0;
}
.box-news-2 .block-news, .box-news-3 .block-news {
	display: none;
}
.box-1 {
	margin-top: 10px;
}
.title-news {
	display: block;
}
.news-movie {
	float: left;
	width: 326px;
}
#icon-control {
	float: right;
    width: 10px;
    height: 10px;
	margin: 6px 8px 0 0;
	background: url('../images/top-movie-trailers-arrows.gif') no-repeat 0 4px;
}
#icon-control-2, #icon-control-3 {
	float: right;
    width: 10px;
    height: 10px;
	margin: 6px 8px 0 0;
	background: url('../images/top-movie-trailers-arrows.gif') no-repeat 0 -20px;
}
.title-3 {
	text-align: left;
	color: #147fb7;
	font-weight: bold;
	font-size: 14px;
	font-family: Times New Roman,Serif;
	letter-spacing: 0.5px;
}
.thumb-1 {
	float: left;
	margin: 0 8px;
}
.news-lead-1 {
	float: left;
	width: 170px;
	color: #515151;
    font-size: 12px;
}
.news-lead-1 .view {
	margin: 8px 0 5px 19px;
}
.now-showing select {
    width: 67%;
}
.now-showing b:before {
    content: url(../images/now-showing-icon.gif);
    padding-right: 4px;
    float: left;
}
.now-showing {
	border-top: 1px dotted #8e8e8e;
    padding: 5px 0 5px 8px;
}

/* Movie Riviews */
.t4 {
	float: left;
	font-size: 17px;
}
.star-ratings {
	float: right;
	width: 58px;
	height: 15px;
	background: url('../images/topic-star-ratings.gif') no-repeat 0 -66px;
}
.rate-2 {
	background: url('../images/topic-star-ratings.gif') no-repeat 0 -49px;
}
.block-news {
	margin-top: 5px;
}
.block-news .thumb {
	float: left;
	margin-right: 10px;
}
.news-lead {
	color: #515151;
	font-size: 12px;
}
.view {
	display: block;
	position: relative;
	margin: 10px 0 10px  19px;
}
.view:before {
	content: url('../images/icon_1.png');
	position: absolute;
	top: -1px;
    left: -20px;
}
.hr1 {
	border-bottom: 1px dotted black;
}
.local-list {
	margin: 8px 0;
}
.local {
	float: left;
	display: block;
	position: relative;
	margin-left: 19px;
}
.local:before {
	content: url('../images/icon_2.jpg');
	margin-right: 7px;
	height: auto;
	position: absolute;
	top: 0;
	left: -18px;
}
.more-movie {
	float: right;
	color: #515151;
	text-decoration: none;
}

/* Right */
.right input[type="text"] {
    margin-left: 15px;
    width: 140px;
	height: 18px;
}
.right input[type="submit"] {
    color: white;
    cursor: pointer;
    font-weight: bold;
    background: #a71e64;
    border: none;
    border-radius: 1px;
    padding: 0 4px;
	font-size: 10px;
	line-height: 1.7;
	width: 63px;
}

/* Footer */
.footer {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
	border-top: 1px dashed white;
}
.social {
    background: #292728;
    list-style-type: none;
    text-align: center;
    padding: 12px 0;
}
.social li {
    display: inline-block;
    margin: 0 49px;
}
.social li a {
    display: block;
	text-decoration: none;
    color: white;
}
.social li a img {
    display: block;
    margin: 0 auto;
}
.link-web a {
    text-decoration: none;
    color: #398fda;
}
.footer-link {
    background: white;
    color: #2196F3;
    padding: 10px 12px 10px 71px;
}
.back-to-top {
	float: right;
}
.copyright {
    color: #398fda;
    margin-top: 4px;
}