@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}
.wrapper{
	min-width: 300px;
	margin: 0 auto;
	text-align: left;
}
#date {
	background: url(../images/calendar.png) no-repeat right;
	background-size: contain;
}
.block-calendar button {
    border: none;
    background: none;
}
.block-calendar button:hover {
    cursor: pointer;
	font-weight:bold;
	background-color: #095d89;;
}
table tr:first-child {
	background-color: #147fb7;
}
table tr:nth-child(2) {
    background-color: #147fb7;
}
table {
	border: 1px solid #535353;
	border-collapse: separate;
}
tr, td {
	border: 1px solid #535353;
	border-collapse: collapse;
	margin-top: 8px;
}
button {
	display: block;
	color: white;
	width: inherit;
	height: inherit;
}
td {
    width: 50px;
    height: 30px;
    text-align: center;
}
td.days:hover {
	background-color: #147fb7;
	color: white;
	font-weight: bold;
    cursor: pointer;
}
td.week {
    font-weight: bold;
    color: white;
}
