@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
h1 {
	color: black;
	font-size: 12px;
}
img {
	max-width: 100%;
	max-height: 100%;
}
.wrapper {
	width: 277px;
	min-height: 600px;
	margin: 0 auto;
	padding: 10px;
	background-color: #e6f3fb;
}
.container {
	width: 277px;
	min-height: 50px;
	border-top: 2px solid #ffa500;
	line-height: 1.3;
}
/* Blogroll */
.box-1 {
	width: 263px;
	padding: 7px;
	background-color: #ffffff;
}
.box-1:after, .box-2:after, .box-4:after {
	clear: both;
    display: block;
    height: 0;
    content: "";
    visibility: hidden;
}
.thumb-1 {
	float: left;
	width: 139px;
	height: 74px;
	padding: 1px;
	border: 1px solid #cccccc;
}
.news-1 {
	float: left;
	width: 100px;
	margin-left: 8px;
	/* line-height: 1.3; */
}
.link {
	color: #0a6395;
	text-decoration: none;
}
.list li {
	padding: 7px 0 7px 8px;
	list-style: none;
	background: #faf0bf;
	margin-bottom: 1px;
}
/* Horoscopes */
.box-2 {
	padding: 20px 0;
	background: #ffffff;
}
.thumb-2 {
	float: left;
	width: 84px;
	height: 100px;
	margin-left: 5px;
}
.news-2 {
	float: left;
	width: 178px;
	margin: 8px 0 0 6px;
	/* line-height: 1.3; */
}
.news-2 .link {
	text-decoration: underline;
}
.day {
	display: block;
	color: #808080;
	margin-bottom: -9px;
}
.box-3 {
	position: relative;
	min-height: 30px;
	background: #f4f4ec;
	padding: 10px 0 5px 17px;
	margin-bottom: 20px;
}
.thumb-3 {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
}
/* Get news on the go */
.box-4 {
	width: 277px;
	min-height: 20px;
	background: #ffffff;
}
.news-3 {
	float: left;
	width: 122px;
	margin: 22px 0 15px 16px;
}
.thumb-4 {
	float: right;
	width: 114px;
	height: 108px;
}
.hr1 {
	border-top: 1px solid #cccccc;
	margin: 10px 0;
}
/* Competitions */
.block {
	border-top: none;
}
.box-5 {
	width: 265px;
	height: 58px;
	background: #ffffff;
	border: 1px solid #dadada;
	padding: 10px 0 0 10px;
}
.box-5 li {
	list-style: none;
}