body {
  font-size: 15px;
  font-family: 'iCiel VAG Rounded Next', sans-serif;
  color: #b7b7b7;
  max-width: 1920px;
  margin: 0 auto; }

input:focus,
textarea:focus,
select:focus,
button:focus {
  border-color: rgba(242, 126, 127, 0.6) !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(242, 126, 127, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(242, 126, 127, 0.6) !important; }

a:hover {
  color: #f27e7f;
  text-decoration: none; }

img,
iframe {
  max-width: 100%; }

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.clearfix {
  display: block;
  content: "";
  clear: both; }

.y-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("../images/icons/select-arrow.svg");
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  background-size: 6px;
  padding: 5px 18px 5px 10px; }

.form-control:disabled,
.form-control[readonly] {
  background-color: #fefefe; }

.y-text-editor * {
  max-width: 100%; }

.y-text-editor blockquote {
  margin: 0 0 1.25em;
  padding: 0 1.25em 0 1.875em;
  border-left: 2px solid #111;
  font-style: italic; }

.y-text-editor p {
  margin-bottom: 10px; }

.y-text-editor img {
  max-width: 100%;
  height: auto !important;
  display: initial; }

.y-text-editor iframe {
  max-width: 100%; }

.y-text-editor table {
  width: 100%; }

.y-text-editor i {
  font-style: italic; }

.y-text-editor u {
  text-decoration: underline; }

.y-text-editor a {
  text-decoration: underline; }

.y-text-editor b,
.y-text-editor strong {
  font-weight: bold; }

.y-text-editor ul {
  padding-left: 30px;
  list-style-type: disc; }

.y-text-editor ul li {
  display: list-item; }

.y-text-editor ol {
  padding-left: 30px;
  list-style-type: decimal; }

.y-text-editor ol li {
  display: list-item; }

.box-img-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.box-img-flex.y-img-left {
  justify-content: flex-start; }

.box-img-flex img {
  width: auto !important;
  height: auto;
  max-width: 100%;
  max-height: 100%; }

.y-box-img {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden; }

.y-box-img .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.y-box-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important; }

.y-box-zoom {
  transition: all 0.6s;
  width: 100%;
  height: 100%;
  position: absolute; }

.y-box-zoom:hover {
  transform: scale(1.05); }

/* Nav Slider Owl 2 */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  width: 44px;
  height: 44px;
  bottom: 10px;
  border-radius: 50%;
  background-color: #B7B7B7 !important; }

.owl-carousel .owl-nav .owl-prev i,
.owl-carousel .owl-nav .owl-next i {
  color: #fff;
  background-color: #B7B7B7;
  font-size: 30px;
  border-radius: 50%; }

.owl-carousel .owl-nav .owl-prev {
  left: calc(50% - 54px); }

.owl-carousel .owl-nav .owl-next {
  right: calc(50% - 54px); }

/* Css - Hover show Nav */
/*.owl-carousel .owl-nav {
    display: none;
    transition:  opacity 1s ease-out;
    visibility: hidden;
    opacity: 0;
 }*/
/*.owl-carousel:hover .owl-nav {
    display: block;
    visibility: visible;
    opacity: 1;
 }

 /* Dots Slider Owl 2 */
.owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  z-index: 99;
  margin: 0 auto;
  text-align: center;
  display: inline-block; }

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 auto; }

.owl-carousel .owl-dots .owl-dot.active span {
  background: #fff; }

.owl-carousel .owl-dots .owl-dot span {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 1;
  width: 12px; }

.y-owl-style-3 .box-info-slider {
  max-width: 800px; }

@media (min-width: 992px) {
  .y-owl-style-3 .box-info-slider {
    margin: 30px 60px; } }
@media (min-width: 768px) {
  .y-owl-style-3 .box-info-slider {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 16px;
    padding: 20px;
    background: transparent;
    width: 100%;
    color: #fff;
    z-index: 3; }

  .y-owl-style-3 .box-info-slider .title-slider {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold; } }
.box-1440 {
  max-width: 1440px;
  margin: 0 auto; }

.padding-section {
  padding: 50px 0; }
  @media (max-width: 767px) {
    .padding-section {
      padding: 40px 0; } }

.color-main {
  color: #f27e7f; }

.btn-main,
.btn-main-2,
.btn-trans {
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 45px;
  text-align: center; }
  .btn-main:hover,
  .btn-main-2:hover,
  .btn-trans:hover {
    text-decoration: none; }
  @media (max-width: 1199px) {
    .btn-main,
    .btn-main-2,
    .btn-trans {
      padding: 10px 24px;
      font-size: 18px; } }
  @media (max-width: 767px) {
    .btn-main,
    .btn-main-2,
    .btn-trans {
      font-size: 14px;
      padding: 10px 20px; } }

.btn-main {
  background-color: #f27e7f;
  color: #fff;
  border: 1px solid #f27e7f; }
  .btn-main:hover {
    color: #fff; }

.btn-main-2 {
  background-color: #00a2e0;
  color: #fff; }
  .btn-main-2:hover {
    color: #fff; }

.btn-trans {
  background-color: transparent;
  color: #f27e7f;
  border: 1px solid #f27e7f; }
  .btn-trans:hover {
    color: #f27e7f; }

.title-main {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #f27e7f;
  margin-bottom: 30px;
  text-transform: uppercase; }

.bg-section {
  background-color: #FCEDE9; }
  .bg-section .title-main {
    color: #f27e7f; }

.row-align-center {
  align-items: center; }

.box-desktop {
  display: block; }

.box-mobile {
  display: none; }

@media (max-width: 991px) {
  .box-desktop {
    display: none; }

  .box-mobile {
    display: block; } }
.footer {
  padding: 50px 0 60px;
  background-repeat: no-repeat;
  background-position: bottom left; }

/*# sourceMappingURL=style.css.map */
