// CSS general
$color: #f27e7f;
$color_blue: #00a2e0;
$color_gray : #b7b7b7;
$color_green: #00b339;
$color_white: #fff;

body {
    font-size: 15px;
    font-family: 'iCiel VAG Rounded Next', sans-serif;
    color: $color_gray;
    max-width: 1920px;
    margin: 0 auto;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    border-color: rgba(242, 126, 127, .6) !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px rgba(242, 126, 127, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px rgba(242, 126, 127, .6) !important;
}

a:hover {
    color: $color;
    text-decoration: none;
}

img,
iframe {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.clearfix {
    display: block;
    content: "";
    clear: both;
}

.y-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url('../images/icons/select-arrow.svg');
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
    background-size: 6px;
    padding: 5px 18px 5px 10px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fefefe;
}

@import '../css/common.scss';

/* Nav Slider Owl 2 */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: 10px;
    border-radius: 50%;
    background-color: #B7B7B7 !important;

}

.owl-carousel .owl-nav .owl-prev i,
.owl-carousel .owl-nav .owl-next i {
    color: #fff;
    background-color: #B7B7B7;
    font-size: 30px;
    border-radius: 50%;
}

.owl-carousel .owl-nav .owl-prev {
    left: calc(50% - 54px);
}

.owl-carousel .owl-nav .owl-next {
    right: calc(50% - 54px);
}

/* Css - Hover show Nav */
/*.owl-carousel .owl-nav {
    display: none;
    transition:  opacity 1s ease-out;
    visibility: hidden;
    opacity: 0;
 }*/
/*.owl-carousel:hover .owl-nav {
    display: block;
    visibility: visible;
    opacity: 1;
 }

 /* Dots Slider Owl 2 */
.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 auto;
}

.owl-carousel .owl-dots .owl-dot.active span {
    background: #fff;
}

.owl-carousel .owl-dots .owl-dot span {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 1;
    width: 12px;
}

.y-owl-style-3 .box-info-slider {
    max-width: 800px;
}

@media (min-width: 992px) {
    .y-owl-style-3 .box-info-slider {
        margin: 30px 60px;
    }
}

@media (min-width: 768px) {
    .y-owl-style-3 .box-info-slider {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 16px;
        padding: 20px;
        background: transparent;
        width: 100%;
        color: #fff;
        z-index: 3;
    }

    .y-owl-style-3 .box-info-slider .title-slider {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

.box-1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.padding-section {
    padding: 50px 0;

    @media (max-width: 767px) {
        padding: 40px 0;
    }
}

.color-main {
    color: $color;
}

.btn-main,
.btn-main-2,
.btn-trans {
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 45px;
    text-align: center;

    &:hover {
        text-decoration: none;
    }

    @media (max-width: 1199px) {
        padding: 10px 24px;
        font-size: 18px;
    }

    @media (max-width: 767px) {
        font-size: 14px;
        padding: 10px 20px;
    }
}

.btn-main {
    background-color: $color;
    color: $color_white;
    border: 1px solid $color;

    &:hover {
        color: $color_white;
    }
}

.btn-main-2 {
    background-color: $color_blue;
    color: $color_white;

    &:hover {
        color: $color_white;
    }
}

.btn-trans {
    background-color: transparent;
    color: $color;
    border: 1px solid $color;

    &:hover {
        color: $color;
    }
}

.title-main {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: $color;
    margin-bottom: 30px;
    text-transform: uppercase;

}

.bg-section {
    background-color: #FCEDE9;

    .title-main {
        color: $color;
    }
}

.row-align-center {
    align-items: center;
}

.box-desktop {
    display: block;
}

.box-mobile {
    display: none;
}

@media (max-width: 991px) {
    .box-desktop {
        display: none;
    }

    .box-mobile {
        display: block;
    }
}

// HEADER

// FOOTER
.footer {
    padding: 50px 0 60px;
    background-repeat: no-repeat;
    background-position: bottom left;
}