@import "./variable.scss";

*,
::after,
::before {
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    border-color: rgba(242, 126, 127, 0.6) !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(242, 126, 127, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(242, 126, 127, 0.6) !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("../images/icons/i-select.svg") !important;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-size: 20px !important;
    padding-left: 10px;
    padding-right: 18px !important;
}
.select-black {
    width: 100%;
    background-size: 18px !important;
    background-image: url("../images/icons/down-arrow-grey.svg") !important;
}

a:hover {
    color: $color;
    text-decoration: none;
}

img,
iframe {
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
}

ul {
    // list-style: none;
    padding-left: 40px;
    margin-bottom: 0;
    @include Responsive(SM) {
        padding-left: 30px;
    }
}
p {
    @include Responsive(LG) {
        margin-bottom: 10px;
    }
    @include Responsive(SM) {
        margin-bottom: 8px;
    }
}

.container {
    max-width: 1800px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fefefe;
}

.show-desktop {
    display: block !important;
    @include Responsive(MD) {
        display: none !important;
    }
}
.show-mobile {
    display: none !important;
    @include Responsive(MD) {
        display: block !important;
    }
}

// box img Absolute
.t-box-img {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.t-box-img .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.t-box-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

.y-box-zoom {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
}

.y-box-zoom:hover {
    transform: scale(1.1);
}

.t-box-img .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

// Fix box img Flex
.box-img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box-img-flex.y-img-left {
    justify-content: flex-start;
}

.box-img-flex img {
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
// ./Fix box img Flex

.box-2-img {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    .box-img {
        width: calc(50% - 8px);
        margin-bottom: 16px;
        @include Responsive(SM) {
            width: 100%;
            margin-bottom: 12px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.box-4-img {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    img {
        width: calc(25% - 8px);
        margin-bottom: 16px;

        @include Responsive(SM) {
            width: calc(50% - 8px);
            margin-bottom: 12px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Text editor
.y-text-editor {
    * {
        max-width: 100%;
    }
}

.y-text-editor blockquote {
    margin: 0 0 1.25em;
    padding: 0 1.25em 0 1.875em;
    border-left: 2px solid #111;
    font-style: italic;
}

.y-text-editor p {
    margin-bottom: 10px;
}

.y-text-editor img {
    max-width: 100%;
    height: auto !important;
    display: initial;
}

.y-text-editor iframe {
    max-width: 100%;
}

.y-text-editor table {
    width: 100%;
}

.y-text-editor i {
    font-style: italic;
}

.y-text-editor u {
    text-decoration: underline;
}

.y-text-editor a {
    text-decoration: underline;
}

.y-text-editor b,
.y-text-editor strong {
    font-weight: bold;
}

.y-text-editor ul {
    padding-left: 30px;
    list-style-type: disc;
}

.y-text-editor ul li {
    display: list-item;
}

.y-text-editor ol {
    padding-left: 30px;
    list-style-type: decimal;
}

.y-text-editor ol li {
    display: list-item;
}
// ./Text editor

.box-btn-main {
    position: relative;
    width: max-content;
    text-align: center;
    padding: 0 15px;
    overflow-y: hidden;
}
.btn-main {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 14px;

    font-family: $font_title;
    @include Font(f18);
    font-weight: 900;
    padding: 22px 85px 25px;
    text-align: center;
    background-color: $color_blue;
    transition: background-color 0.5s;
    height: max-content;
    transition: all 0.4s;

    @include Responsive(X15) {
        padding: 14px 60px 16px;
    }
    @include Responsive(LG) {
        padding: 11px 42px 13px;
        border-radius: 10px;
    }
    @include Responsive(MD) {
        padding: 10px 32px 12px;
        border-radius: 8px;
    }
    @include Responsive(SM) {
        padding: 8px 30px 10px;
    }

    &:hover {
        color: $color_black;
        background-color: #fff;
    }

    &.btn-white {
        background-color: $color_white;
        color: $color_black;

        &:hover {
            color: #fff;
            background-color: $color;
        }
    }
    &.btn-black {
        background-color: $color_black;
        color: #fff;
        &:hover {
            color: $color_black;
            background-color: #fff;
        }
    }

    span {
        position: relative;
        display: flex;
        align-items: center;
        line-height: 1;
    }
}

.box-title-main {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    z-index: 5;
    pointer-events: none;

    @include Responsive(X15) {
        margin-bottom: 20px;
    }

    .desc-main {
        @include Font(f20);
        color: #f1f1f1;
        padding: 0 15px;
    }
}

.title-main {
    display: inline-flex;
    align-items: center;
    font-family: $font_title;
    @include Font(f50);
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;

    &.title-black {
        color: $color_black;
        text-transform: initial;
    }

    &.title-big {
        @include Font(f80);
        line-height: 1.1;
    }

    &.title-60 {
        @include Font(f60);
    }
    &.title-small {
        @include Font(f40);
        line-height: 1.2;
    }
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px) {
        min-height: calc(100vh - 20px);
    }
}

.owl-carousel {
    .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        display: flex;
        justify-content: center;

        .owl-dot {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #fff;
            margin: 0 4px;

            &.active {
                background-color: $color;
            }
        }
    }
}

.box-container {
    width: 100%;
    max-width: 1580px;
    padding: 0 15px;
    margin: 0 auto;
}

.box-iframe {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.padding-content-left {
    padding: 152px 84px 150px 125px;
    @include Responsive(X17) {
        padding: 130px 70px 130px 100px;
    }
    @include Responsive(X15) {
        padding: 110px 60px 110px 90px;
    }
    @include Responsive(X13) {
        padding: 80px 35px 90px 60px;
    }
    @include Responsive(LG) {
        padding: 60px 30px 80px 50px;
    }
    @include Responsive(MD) {
        padding: 60px 30px;
    }
    @include Responsive(SM) {
        padding: 50px 20px;
    }
    @include Responsive(XS) {
        padding: 36px 20px;
    }
    @include Responsive(X48) {
        padding: 30px 20px;
    }
}
.padding-content-article {
    padding: 85px 125px 100px;
    @include Responsive(X17) {
        padding: 80px 100px 90px;
    }
    @include Responsive(X15) {
        padding: 75px 90px 80px;
    }
    @include Responsive(X13) {
        padding: 70px 60px;
    }
    @include Responsive(MD) {
        padding: 60px 30px;
    }
    @include Responsive(SM) {
        padding: 50px 20px;
    }
    @include Responsive(XS) {
        padding: 40px 20px;
    }
    @include Responsive(X48) {
        padding: 36px 20px;
    }
}
