.iframe-video {
    position: relative;
    padding-bottom: 56.25%;
}

.iframe-video iframe {
    /*width: 100%;
    height: 303px;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-video .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
}

.iframe-video .overlay-img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/icons/btn-play.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center center;
    z-index: 3;
}


.video-iframe {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 76.25%;
    padding-top: 30%;
}

.video-iframe iframe,
.video-iframe object,
.video-iframe embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}