@font-face {
  font-family: 'SanomatSansVN';
  src: url('SanomatSansVN-Regular.eot');
  src: url('../fonts/SanomatSansVN-Regular.woff2') format('woff2'),
       url('../fonts/SanomatSansVN-Regular.woff') format('woff'),
       url('../fonts/SanomatSansVN-Regular.ttf') format('truetype'),
       url('../fonts/SanomatSansVN-Regular.svg#SanomatSansVN-Regular') format('svg'),
       url('../fonts/SanomatSansVN-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SanomatSansVN';
  src: url('../fonts/SanomatSansVN-Medium.eot');
  src: url('../fonts/SanomatSansVN-Medium.woff2') format('woff2'),
       url('../fonts/SanomatSansVN-Medium.woff') format('woff'),
       url('../fonts/SanomatSansVN-Medium.ttf') format('truetype'),
       url('../fonts/SanomatSansVN-Medium.svg#SanomatSansVN-Medium') format('svg'),
       url('../fonts/SanomatSansVN-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SanomatSansVN';
  src: url('../fonts/SanomatSansVN-Light.eot');
  src: url('../fonts/SanomatSansVN-Light.woff2') format('woff2'),
       url('../fonts/SanomatSansVN-Light.woff') format('woff'),
       url('../fonts/SanomatSansVN-Light.ttf') format('truetype'),
       url('../fonts/SanomatSansVN-Light.svg#SanomatSansVN-Light') format('svg'),
       url('../fonts/SanomatSansVN-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SanomatSansVN';
  src: url('../fonts/SanomatSansVN-Bold.eot');
  src: url('../fonts/SanomatSansVN-Bold.woff2') format('woff2'),
       url('../fonts/SanomatSansVN-Bold.woff') format('woff'),
       url('../fonts/SanomatSansVN-Bold.ttf') format('truetype'),
       url('../fonts/SanomatSansVN-Bold.svg#SanomatSansVN-Bold') format('svg'),
       url('../fonts/SanomatSansVN-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

