.y-box-countdown {
	display: block;
	width: max-content;
	margin: 20px 0;
}

.y-box-countdown .item-countdown {
	display: inline-block;
	width: auto;
	text-align: center;
	margin-right: 15px;
}

.y-box-countdown .item-countdown:last-child {
	margin-right: 0;
}

.y-box-countdown .value-countdown {
	width: 70px;
	padding: 5px;
	font-size: 25px;
	font-weight: bold;
	border: 1px solid #166c4d;
	color: #166c4d;
}

.y-box-countdown .title-countdown {
	margin-top: 5px;
}

.countdow-timer {
	font-size: 50px;
}

@media (max-width: 767px) {
	.y-box-countdown .value-countdown {
		width: 50px;
		padding: 5px;
		font-size: 20px;
	}
}
