
.y-box-article {
	margin-bottom: 30px;
}
.y-box-article .title-article {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 34px;
}
.y-box-article .date-article {
	margin-bottom: 15px
}
.y-box-article .top-article {
	padding-bottom: 20px;
    border-bottom: 1px dotted #d9d9d9;
}
.y-box-article .box-content-article {
	margin-top: 20px
}

@media (max-width: 576px) {
	.y-box-article .title-article {
		margin-bottom: 10px;
		font-size: 22px;
	}
}