body {
    font-size: 14px;
    min-height: 100vh;
    background: linear-gradient(-45deg, rgba(147, 26, 222, 0.83) 10%, rgba(28, 206, 234, 0.82) 100%);
}

img {
    max-width: 100%;
}
ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.menu-header {
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;

    .item {
        position: relative;
        color: #fff;
        width: max-content;

        &.submenu-small {
            .menu-lv2 {
                width: 250px;

                .box-list-menu {
                    width: 100%;
                }
            }
        }

        &:hover {
            .menu-lv2 {
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%) rotateX(0deg) translateZ(25px);
            }
        }

        > .link {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 0;
            text-align: center;
            padding: 5px 0 11px;
            color: #fff;

            .icon {
                img {
                    width: 20px;
                }
            }
            .title {
                display: flex;
                align-items: flex-end;
                font-size: 0.85rem;
                margin-top: 7px;
                font-weight: 300;

                i {
                    margin-left: 4px;
                    padding-bottom: 2px;
                }
            }
        }

        .menu-lv2 {
            position: absolute;
            top: 100%;
            left: 50%;
            opacity: 0;
            visibility: hidden;
            display: flex;
            column-gap: 20px;
            background-color: #fff;
            padding: 20px;
            width: 600px;
            transform: translateX(-50%) rotateX(-10deg) translateZ(25px);
            transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
                0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            border-radius: 12px;
            z-index: 900;

            &::before {
                position: absolute;
                border-bottom: 11px solid rgba(255, 255, 255, 1);
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                content: "";
                display: inline-block;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
                width: 1px;
                top: -11px;
            }

            .box-list-menu {
                position: relative;
                width: calc(100% / 3);
            }

            .title-2 {
                color: #333;
                font-size: 1.1rem;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .list-menu {
                position: relative;

                li {
                    margin-bottom: 7px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .link {
                    display: flex;
                    align-items: center;
                    color: #67748e;

                    &:hover {
                        color: #525c70;
                    }

                    .icon {
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                    }
                }
            }
            .line {
                position: absolute;
                background-color: transparent;
                height: 100%;
                right: 0;
                top: 0;
                width: 1px;
                background-image: linear-gradient(180deg, transparent, rgba(216, 216, 216, 0.66), transparent);
            }
        }
    }
}
